/* Fonts */
$main-font: 'PT Sans', sans-serif;
$font: 'Ubuntu', sans-serif;
$font-size-1: 1.2em;
$font-size-2: 1.8em;
$font-size-3: 2em;
$font-size-4: 2.5em;

/* Colors */
$bg-color-1: #2d2d2d;
$bg-color-2 : #f9f9f9;

$bg-gradient-1: #000111;
$bg-gradient-2: #001057;
$bg-gradient-3: #002035;

$text-color-1: #fff;
$text-color-2: #c2c2c2;
$text-color-3: #4d4d4d;
$text-color-4: #2d2d2d;