@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import 'config';

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
  font-family: $main-font;
  justify-content: center;
  align-items: center;
}

section{
  width: 100%;
  padding: 30px;
  position: relative;
  
  h2{
    font-size: $font-size-2;
    text-align: center;
  }
}

.demo-btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.intro{
  background: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_908748508_381147.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: auto;
    
  .content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.1);  
    
    .header-group{
      background: rgba(255,255,255,0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 550px;
      padding: 20px 50px;
      border: 4px solid #fff;
      font-family: $font;
      text-transform: uppercase;
      text-align: center;
      box-shadow: inset 0px 0px 2px 0px #2c3e50;
      opacity: 0;
      animation-name: fadeIn;
      animation-delay: 1s;
      animation-duration: 2s;
      animation-fill-mode: both;
      
      @keyframes fadeIn{
        0%{opacity:0;}
        100%{opacity:1;}
      }

      .header-title{
        color: #fff;
        font-size: 5em;
        text-shadow: 5px 2px $bg-color-1;
      }

      span{
        color: #eaeaea;
        font-size: $font-size-2;
        text-shadow: 0px 2px 5px $bg-color-1;
        }
    }
  }
}

.about-myself{
  background: $bg-gradient-1;
  border-top: 5px solid $bg-gradient-1;
  text-align: center;
  padding: 50px 0;
  
  .img-profile{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 5px solid $bg-gradient-1;
    height: 154px;
    width: 132px;
  }
  
  h2{
    color: $text-color-2;
    margin-top: 60px;
    font-size: $font-size-3;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
  }
  
  .presentation{
    color: #848484;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px 20px;
    font-size: $font-size-1;
    text-align: center;
  }
}


.services{
  padding: 80px 0;
  
  h2{
    color: $text-color-4;
    font-size: $font-size-3;
    margin-bottom: 50px;
  }
  
  .services-container{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
    .service{
      position: relative;
      display: block;
      float: left;
      width: 30%;
      margin-left: 1.6666%;
      margin-right: 1.6666%;
      padding: 20px;
      opacity: 0;
      
      .logo{
        background: $bg-gradient-1;
        background: linear-gradient(135deg, $bg-gradient-1 0%,$bg-gradient-2 100%);
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin: auto;
        margin-bottom: 40px;
        text-align: center;
        transform: rotate(45deg);
        font-size: $font-size-2;
        
        i {
          color: $text-color-1;
          transform: rotate(-45deg);
        }
      }
      
      h3 {
        font-size: $font-size-1;
        text-align: center;
        margin-bottom: 1em;
      }
      
      p {
        color: $text-color-3;
        text-align: center;
      }
    }
  }
}

.portfolio{
  background: $bg-gradient-3;
  padding: 70px 10px;
  
  h2{
    color: $text-color-1;
    font-size: $font-size-3;
    margin-bottom: 50px;
  }
  
  .projects {
    width: 100%;
    max-width: 1200px;
    gap: 100px;
    margin: auto;
    
    .project{
      width: 100%;
      margin-bottom: 50px;
      overflow: hidden;
      
      img{
        width: 100%;
      }
      
      &:hover .project-overlay{
        opacity: 1;
      }
      
      &:hover .project-details{
        opacity: 1;
      }
      
      .project-overlay{
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      
      .project-details{
          top: 40%;
          padding-left: 1rem;
          padding-right: 2rem;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          line-height: normal;
          opacity: 0;
          position: absolute;
          text-align: center;
          width: 100%;
          transition: all 0.4s ease-out 0s;
        
        & p, a {
          color: $text-color-1;
          color: #fff;
          text-decoration: none;
        }

        .demo-btn, .source-btn {
          background: $bg-gradient-1;
          padding: 2px 5px 2px 5px;
          margin-right: 5px;
        }        
      }
    }
  }
}

.contact{
  padding: 20px 0;
  background: $bg-gradient-1;
  
  .socials{
    list-style: none;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .social{
      width: 100px;
      padding: 20px;
      text-align: center;
      
      a{
        color: $text-color-3;
        font-size: 1.5em;
        transition: color .4s ease;
        
        &:hover{
          color: $text-color-1;
        }
      }
    }
  }
}

.clear{
  clear: both;
}

// RESPONSIVE STYLES
@media screen and (max-width: 800px) {
  .projects {
    width: 100%;
  }
  
    .services .services-container .service{
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 640px) {
  .projects {
    width: 100%;
  }

  .content .header-group{
    width: 350px;
    
    .header-title{
      font-size: $font-size-4;
    }
    span{
      font-size: $font-size-1;
    }
  }
}

@media screen and (max-width: 480px){
  .projects {
    width: 100%;
  }

  .contact .socials{
    width: 100%;
    
    .social{
      width: 25%;
    }
  } 
}