.about__data {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.about__description span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}

.about__img {
    justify-self: center;
    width: 220px;
    border-radius: .5rem;
}