@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'home';
@import 'about';
@import 'experience';
@import 'services';
@import 'portfolio';
@import 'contact';
@import 'footer';
@import 'mobile';


// GLOBAL VARIABLES //
:root {
    --header-height: 3rem;

    /* Colors Pallette */
    --first-color: #032b3e;
    --first-color-dark: #0a212f;
    --text-color: #474d52;
    --first-color-light: #6f767b;
    --first-color-lighten: #f9fafb;

    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .813rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* Z-Index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

// BASE //
*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,h3,ul,p {
    margin: 0;
}

h2,h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

// CLASSES //
.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

// LAYOUT //
.bd-container {
    // max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color:#000;
}

// NAV //
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link {
    color: var(--first-color-lighten);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color-light);
}

.nav__logo, .nav__toggle {
    color: var(--first-color-lighten);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}


// SHOW MENU //
.show-menu {
    top: var(--header-height);
}

// ACTIVE MENU //
.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

// CHANGE BACKGROUND HEADER //
.scroll-header {
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link {
    color: var(--first-color-dark);
}

.scroll-header .nav__menu {
    background-color: var(--first-color-lighten);
}

// SCROLL TOP //
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 113, .7);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;

    &:hover {
        background-color: var(--first-color);
    }
}

.scrolltop__icon {
    font-size: 2rem;
    color: var(--first-color-lighten);
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}



// BUTTONS //
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;
    margin-bottom: 1rem;

    &:hover {
        background-color: var(--first-color-dark);
    }
}

.button-light {
    background-color: var(--first-color-light);
}

.button-white {
    background-color: var(--first-color-lighten);
    color: var(--first-color-dark);

    &:hover {
        color: var(--first-color-lighten);
    }
}

.button-link {
    background: none;
    color: var(first-color);
    padding: 0;
}

.button-link:hover {
    background: none;
}

.button-center {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

// RESPONSIVE STYLING //
@media screen and (min-width: 768px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
        border-radius: 0 0 1rem 1rem;
    }
}